In [1]:
# Tema: Comparendos Norte de Santander 2016 - 2020
# Grupo 1: Angie Moreno/202110008171 - Diego Vargas/202110047171 - Luis Ochoa/202519024507

# Importamos la libreria Pandas
import pandas as pd

In [2]:
# Cargamos el CSV a un DataFrame (df)
df = pd.read_csv("ComparendosNorteSantanderSource.csv")

In [ ]:
# Retornamos una tupla con las dimensiones de nuestro DataFrame.
# (cantidad de filas incluyendo encabezados, cantidad de columnas)
df.shape

(25042, 7)

In [4]:
# Mostramos la informacion de nuestro DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25042 entries, 0 to 25041
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COMPARENDO         25042 non-null  object
 1   FECHA              25041 non-null  object
 2   CÓDIGO INFRACCIÓN  25041 non-null  object
 3   INFRACCION         25041 non-null  object
 4   LUGAR              25041 non-null  object
 5   CLASE VEHICULO     25031 non-null  object
 6   VALOR              25041 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.3+ MB

In [ ]:
# Mostramos el encabezado de las columnas, junto con los primeros 5 registros y ultimos 5 registros
df

,COMPARENDO,FECHA,CÓDIGO INFRACCIÓN,INFRACCION,LUGAR,CLASE VEHICULO,VALOR
0,9223372036854775807,18/09/2016,B02,Conducir un vehículo con la licencia de conduc...,SARDINATA-CUCUTA KM 58,AUTOMOVIL,183854.0
1,9223372036854775807,20/11/2016,C24,Conducir motocicleta sin observar las normas e...,VIA 7009 KM 72,MOTOCICLETA,344727.0
2,9223372036854775807,22/04/2016,B02,Conducir un vehículo con la licencia de conduc...,OCAÑA SARDINATA KM 31 600,AUTOMOVIL,183855.0
3,9223372036854775807,7/05/2016,B02,Conducir un vehículo con la licencia de conduc...,BMANGA PAMPLONA KM 88,CAMIONETA,183855.0
4,9223372036854775807,25/03/2016,B02,Conducir un vehículo con la licencia de conduc...,BMANGA PAMPLONA KM 88,CAMIONETA,183855.0
...,...,...,...,...,...,...,...
25037,99999999000004686217,11/12/2020,C35,No realizar la revisión técnico-mecánica en el...,SARDINATA CUCUTA KM 58 30,BUS,438902.0
25038,99999999000004686218,12/12/2020,C35,No realizar la revisión técnico-mecánica en el...,VIA SARDINATA CUCUTA KM 58 300,BUSETA,438902.0
25039,9999999900004048638,08/12/2019,C14,Transitar por los siguientes sitios restringid...,SARDINATA CUCUTA KM 58 300,VOLQUETA,414058.0
25040,99999999900000301038,13/01/2018,D02,Conducir sin portar el Seguro Obligatorio de A...,SARDINATA CUCUTA KM 58 300,MOTOCICLETA,781242.0
25041,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Retornmos un indice con los nombre de todas las columnas.
df.columns

Index(['COMPARENDO', 'FECHA', 'CÓDIGO INFRACCIÓN', 'INFRACCION', 'LUGAR',
       'CLASE VEHICULO', 'VALOR'],
      dtype='object')

In [7]:
# Obtenemos los encabezados, junto con 20 filas comenzando desde arriba
df.head(20)

,COMPARENDO,FECHA,CÓDIGO INFRACCIÓN,INFRACCION,LUGAR,CLASE VEHICULO,VALOR
0,9223372036854775807,18/09/2016,B02,Conducir un vehículo con la licencia de conduc...,SARDINATA-CUCUTA KM 58,AUTOMOVIL,183854.0
1,9223372036854775807,20/11/2016,C24,Conducir motocicleta sin observar las normas e...,VIA 7009 KM 72,MOTOCICLETA,344727.0
2,9223372036854775807,22/04/2016,B02,Conducir un vehículo con la licencia de conduc...,OCAÑA SARDINATA KM 31 600,AUTOMOVIL,183855.0
3,9223372036854775807,7/05/2016,B02,Conducir un vehículo con la licencia de conduc...,BMANGA PAMPLONA KM 88,CAMIONETA,183855.0
4,9223372036854775807,25/03/2016,B02,Conducir un vehículo con la licencia de conduc...,BMANGA PAMPLONA KM 88,CAMIONETA,183855.0
5,9223372036854775807,17/07/2016,B01,Conducir un vehículo sin llevar consigo la lic...,SARDINATA CUCUTA KM 58 300,MOTOCICLETA,183854.0
6,9223372036854775807,13/07/2016,B01,Conducir un vehículo sin llevar consigo la lic...,OCAÑA SARDINATA KM 24 500,MOTOCICLETA,183855.0
7,9223372036854775807,23/11/2016,B01,Conducir un vehículo sin llevar consigo la lic...,SARDINATA CUCUTA KM 58 300,AUTOMOVIL,183855.0
8,9223372036854775807,22/09/2016,C06,No utilizar el cinturón de seguridad por parte...,BMANGA PAMPLONA KM 88,T/CAMION,344728.0
9,9223372036854775807,29/05/2016,B02,Conducir un vehículo con la licencia de conduc...,VIA 7009 KM 56,AUTOMOVIL,183855.0
10,9223372036854775807,27/05/2016,B02,Conducir un vehículo con la licencia de conduc...,BUACARAMANGA-PAMPLONA KM 88,AUTOMOVIL,183854.0
11,9223372036854775807,9/03/2016,B01,Conducir un vehículo sin llevar consigo la lic...,SARDINATA-CUCUTA KM 58,MOTOCICLETA,183854.0
12,9223372036854775807,30/12/2016,B01,Conducir un vehículo sin llevar consigo la lic...,OCAÑA SARDINATA KM 28,MOTOCICLETA,183855.0
13,9223372036854775807,24/02/2016,B02,Conducir un vehículo con la licencia de conduc...,KM 88 - VI BUCARAMANGA-PAMPLONA,AUTOMOVIL,183855.0
14,9223372036854775807,15/03/2016,C06,No utilizar el cinturón de seguridad por parte...,PAMPLONA-CUCUTA KM 82,T/CAMION,344727.0
15,9223372036854775807,29/07/2016,B01,Conducir un vehículo sin llevar consigo la lic...,SARDINATA-CUCUTA KM 58,MOTOCICLETA,183854.0
16,9223372036854775807,5/10/2016,C06,No utilizar el cinturón de seguridad por parte...,PAMPLONA CUCUTA KM 87,CAMPERO,344728.0
17,9223372036854775807,8/07/2016,B02,Conducir un vehículo con la licencia de conduc...,VI BUCARAMANGA PAMPLONA - KM 88 LA LAGUNA,CAMION,183855.0
18,9223372036854775807,10/01/2016,B01,Conducir un vehículo sin llevar consigo la lic...,SARDINATA-CUCUTA KM 58,AUTOMOVIL,183854.0
19,9223372036854775807,22/01/2016,B01,Conducir un vehículo sin llevar consigo la lic...,VI OCANA SARDINATA - KM 23,MOTOCICLETA,183860.0

In [8]:
# Obtenemos los encabezados, junto con 25 filas comenzando desde abajo
df.tail(25)

,COMPARENDO,FECHA,CÓDIGO INFRACCIÓN,INFRACCION,LUGAR,CLASE VEHICULO,VALOR
25017,99999999000004685958,13/12/2020,C15,"Conducir un vehiculo, particular o publico, ex...",SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25018,99999999000004686105,24/11/2020,B01,Conducir un vehículo sin llevar consigo la lic...,SARDINATA CUCUTA KM 58 300,MOTOCICLETA,146301.0
25019,99999999000004686107,30/11/2020,C35,No realizar la revisión técnico-mecánica en el...,VIA SARDINATA CUCUTA KM 58 300,VOLQUETA,274314.0
25020,99999999000004686108,03/12/2020,C31,No acatar las señales de transito o requerimie...,SARDINATA CUCUTA KM 58 300,CAMIONETA,438902.0
25021,99999999000004686109,03/12/2020,C31,No acatar las señales de transito o requerimie...,SARDINATA CUCUTA KM 58 300,CAMIONETA,438902.0
25022,99999999000004686110,03/12/2020,C31,No acatar las señales de transito o requerimie...,SARDINATA CUCUTA KM 58 300,AUTOMOVIL,438902.0
25023,99999999000004686111,03/12/2020,C31,No acatar las señales de transito o requerimie...,SARDINATA CUCUTA KM 58 300,AUTOMOVIL,438902.0
25024,99999999000004686112,04/12/2020,D01,Guiar un vehículo sin haber obtenido la licenc...,SARDINATA CUCUTA KM 58 300,CAMION,877803.0
25025,99999999000004686205,27/11/2020,B02,Conducir un vehículo con la licencia de conduc...,VIA SARDINATA CUCUTA KM 58 300,CAMION,234081.0
25026,99999999000004686206,29/11/2020,C15,"Conducir un vehiculo, particular o publico, ex...",VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25027,99999999000004686207,06/12/2020,C15,"Conducir un vehiculo, particular o publico, ex...",VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25028,99999999000004686208,06/12/2020,C15,"Conducir un vehiculo, particular o publico, ex...",VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25029,99999999000004686209,06/12/2020,D01,Guiar un vehículo sin haber obtenido la licenc...,VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,877803.0
25030,99999999000004686210,06/12/2020,D02,Conducir sin portar el Seguro Obligatorio de A...,VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,877803.0
25031,99999999000004686211,06/12/2020,C35,No realizar la revisión técnico-mecánica en el...,VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25032,99999999000004686212,06/12/2020,C15,"Conducir un vehiculo, particular o publico, ex...",VIA SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25033,99999999000004686213,08/12/2020,C14,Transitar por los siguientes sitios restringid...,VIA SARDINATA CUCUTA KM 58 300,VOLQUETA,438902.0
25034,99999999000004686214,07/12/2020,B05,"Con una sola placa, o sin el permiso vigente e...",VIA SARDINATA CUCUTA KM 58 300,AUTOMOVIL,234081.0
25035,99999999000004686215,08/12/2020,C15,"Conducir un vehiculo, particular o publico, ex...",SARDINATA CUCUTA KM 58 300,MOTOCICLETA,438902.0
25036,99999999000004686216,08/12/2020,C14,Transitar por los siguientes sitios restringid...,SARDINATA CUCUTA KM 58 300,CAMION,438902.0
25037,99999999000004686217,11/12/2020,C35,No realizar la revisión técnico-mecánica en el...,SARDINATA CUCUTA KM 58 30,BUS,438902.0
25038,99999999000004686218,12/12/2020,C35,No realizar la revisión técnico-mecánica en el...,VIA SARDINATA CUCUTA KM 58 300,BUSETA,438902.0
25039,9999999900004048638,08/12/2019,C14,Transitar por los siguientes sitios restringid...,SARDINATA CUCUTA KM 58 300,VOLQUETA,414058.0
25040,99999999900000301038,13/01/2018,D02,Conducir sin portar el Seguro Obligatorio de A...,SARDINATA CUCUTA KM 58 300,MOTOCICLETA,781242.0
25041,0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Mostramos la primera fila del DataFrame
df.loc[0]

COMPARENDO                                         9223372036854775807
FECHA                                                       18/09/2016
CÓDIGO INFRACCIÓN                                                  B02
INFRACCION           Conducir un vehículo con la licencia de conduc...
LUGAR                                           SARDINATA-CUCUTA KM 58
CLASE VEHICULO                                               AUTOMOVIL
VALOR                                                         183854.0
Name: 0, dtype: object

In [10]:
# Mostramos las filas 3 y 8
df.loc[[4, 9]]

,COMPARENDO,FECHA,CÓDIGO INFRACCIÓN,INFRACCION,LUGAR,CLASE VEHICULO,VALOR
4,9223372036854775807,25/03/2016,B02,Conducir un vehículo con la licencia de conduc...,BMANGA PAMPLONA KM 88,CAMIONETA,183855.0
9,9223372036854775807,29/05/2016,B02,Conducir un vehículo con la licencia de conduc...,VIA 7009 KM 56,AUTOMOVIL,183855.0

In [11]:
# Genaramos estadistica descriptiva por cada columna
# COMPARENDO

df.COMPARENDO.describe()

count                   25042
unique                  16307
top       9223372036854775807
freq                     8453
Name: COMPARENDO, dtype: object

In [12]:
# FECHA

df.FECHA.describe()

count         25041
unique         1443
top       5/09/2016
freq             73
Name: FECHA, dtype: object

In [13]:
# CÓDIGO INFRACCIÓN

df["CÓDIGO INFRACCIÓN"].describe()

count     25041
unique       66
top         C35
freq       3671
Name: CÓDIGO INFRACCIÓN, dtype: object

In [14]:
# INFRACCION

df.INFRACCION.describe()

count                                                 25041
unique                                                   99
top       Conducir motocicleta sin observar las normas e...
freq                                                   3021
Name: INFRACCION, dtype: object

In [15]:
# LUGAR

df.LUGAR.describe()

count                          25041
unique                          3395
top       SARDINATA CUCUTA KM 58 300
freq                            3366
Name: LUGAR, dtype: object

In [16]:
# CLASE VEHICULO

df["CLASE VEHICULO"].describe()

count           25031
unique             16
top       MOTOCICLETA
freq            11895
Name: CLASE VEHICULO, dtype: object

In [17]:
# VALOR
df.VALOR.describe()

count    2.504100e+04
mean     5.154443e+05
std      8.874552e+05
min     -2.760300e+04
25%      3.447270e+05
50%      4.140580e+05
75%      6.894550e+05
max      4.213440e+07
Name: VALOR, dtype: float64

In [19]:
# Conteo de VALOR
df.VALOR.count()

np.int64(25041)

In [20]:
# Promedio de VALOR 
df.VALOR.mean()

np.float64(515444.3072614233)

In [21]:
# Desviación Estándar de VALOR 
df.VALOR.std()

np.float64(887455.2155195383)

In [22]:
# Valor Mínimo de VALOR 
df.VALOR.min()

np.float64(-27603.0)

In [23]:
# Valor Máximo de VALOR 
df.VALOR.max()

np.float64(42134400.0)

In [24]:
# Mediana de VALOR 
df.VALOR.median()

np.float64(414058.0)

In [25]:
# Moda de VALOR 
df.VALOR.mode()

0    689455.0
Name: VALOR, dtype: float64

In [26]:
# Percentil 75% de VALOR 
df.VALOR.quantile(0.75)

np.float64(689455.0)

In [32]:
# Obtenemos los valores unicos para la columna CODIGO INFRACCION
df["CÓDIGO INFRACCIÓN"].unique()

array(['B02', 'C24', 'B01', 'C06', 'D01', 'I01', 'D06', 'C35', 'D13',
       'C31', 'D02', 'C15', 'D03', 'C05', 'C14', 'D12', 'C11', 'B22',
       'B03', 'C37', 'C38', 'C22', 'F', 'H02', 'D04', 'D07', 'D15', 'D08',
       'C10', 'C03', 'B06', 'D16', 'C20', 'B10', 'B15', 'B07', 'B04',
       'C21', 'C08', 'B05', 'C04', 'C02', 'C01', 'C23', 'C18', 'C39',
       'C27', 'C16', 'E04', 'H13', 'B21', 'B14', 'C29', 'B11', 'B20',
       'C28', 'C34', 'F09', 'D11', 'B16', 'H01', 'A03', 'C25', 'D14',
       'B12', 'C19', nan], dtype=object)

In [33]:
# Mostramos los valores unicos para la columna LUGAR
df.LUGAR.unique()

array(['SARDINATA-CUCUTA KM 58', 'VIA 7009 KM 72',
       'OCAÑA SARDINATA KM 31 600', ..., 'VIA SARDINATA CUCUTA  KM 5 300',
       'VIA SARDIANTA CUCUTA KM 58 300', nan], shape=(3396,), dtype=object)

In [34]:
# Mostramos los valores unicos para la columna CLASE VEHICULO
df["CLASE VEHICULO"].unique()

array(['AUTOMOVIL', 'MOTOCICLETA', 'CAMIONETA', 'T/CAMION', 'CAMPERO',
       'CAMION', 'MICROBUS', 'BUSETA', 'VOLQUETA', 'BUS', 'DOBLE TROQU',
       nan, 'MAQ. AGRICO', 'OTROS', 'DOBLE TROQUE', 'CAMION D.T.',
       'MAQ. AGRICOLA'], dtype=object)