In [1]:
# Tema: Comparendos Norte de Santander 2016 - 2020
# Grupo 1: Angie Moreno/202110008171 - Diego Vargas/202110047171 - Luis Ochoa/202519024507

# Importamos la libreria Pandas
import pandas as pd

In [2]:
# Cargamos el CSV a un DataFrame (df)
df = pd.read_csv("ComparendosNorteSantanderSource.csv")

In [3]:
# Retornamos una tupla con las dimensiones de nuestro DataFrame.
# (cantidad de filas incluyendo encabezados, cantidad de columnas)
df.shape

(25042, 7)

In [4]:
# Mostramos la informacion de nuestro DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25042 entries, 0 to 25041
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COMPARENDO         25042 non-null  object
 1   FECHA              25041 non-null  object
 2   CÓDIGO INFRACCIÓN  25041 non-null  object
 3   INFRACCION         25041 non-null  object
 4   LUGAR              25041 non-null  object
 5   CLASE VEHICULO     25031 non-null  object
 6   VALOR              25041 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.3+ MB

In [5]:
# Eliminamos las columnas que no son necesarias para el analisis
# Guardando el resultado en un nuevo DataFrame llamado df_cleaned
df_cleaned = df.drop(columns=["COMPARENDO"])

In [6]:
# Mostar las columnas del nuevo DataFrame
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25042 entries, 0 to 25041
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FECHA              25041 non-null  object
 1   CÓDIGO INFRACCIÓN  25041 non-null  object
 2   INFRACCION         25041 non-null  object
 3   LUGAR              25041 non-null  object
 4   CLASE VEHICULO     25031 non-null  object
 5   VALOR              25041 non-null  float64
dtypes: float64(1), object(5)
memory usage: 1.1+ MB

In [7]:
# Renombramos las columnas del nuevo DataFrame, especificamos inplace = true para realizar los cambios directamente en df_cleaned

# CÓDIGO INFRACCIÓN
df_cleaned.rename(columns={'CÓDIGO INFRACCIÓN': 'CODIGO_INFRACCION'}, inplace=True)

# CLASE VEHICULO
df_cleaned.rename(columns={'CLASE VEHICULO': 'CLASE_VEHICULO'}, inplace=True)

# Mostramos las columnas de nuestro DataFrame, las cuales deben tener los cambios realizados
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25042 entries, 0 to 25041
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FECHA              25041 non-null  object
 1   CODIGO_INFRACCION  25041 non-null  object
 2   INFRACCION         25041 non-null  object
 3   LUGAR              25041 non-null  object
 4   CLASE_VEHICULO     25031 non-null  object
 5   VALOR              25041 non-null  float64
dtypes: float64(1), object(5)
memory usage: 1.1+ MB

In [8]:
# Eliminamos filas con valores nulos
df_cleaned = df_cleaned.dropna()

In [9]:
# Retornamos una tupla con las dimensiones de nuestro nuevo DataFrame, despues de eliminar nulos.
# (cantidad de filas incluyendo encabezados, cantidad de columnas)
df.shape

(25042, 7)

In [10]:
# Obtenemos el numero de filas eliminadas
rows_before = df.shape[0]
rows_after = df_cleaned.shape[0]

rows_before - rows_after

11

In [12]:
# Mostramos la informacion de nuestro DataFrame df_cleaned
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25031 entries, 0 to 25040
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FECHA              25031 non-null  object
 1   CODIGO_INFRACCION  25031 non-null  object
 2   INFRACCION         25031 non-null  object
 3   LUGAR              25031 non-null  object
 4   CLASE_VEHICULO     25031 non-null  object
 5   VALOR              25031 non-null  float64
dtypes: float64(1), object(5)
memory usage: 1.3+ MB

In [18]:
# Ajustamos los tipos de dato

df_cleaned['CODIGO_INFRACCION'] = df_cleaned['CODIGO_INFRACCION'].astype('string')
df_cleaned['INFRACCION'] = df_cleaned['INFRACCION'].astype('string')
df_cleaned['LUGAR'] = df_cleaned['LUGAR'].astype('string')
df_cleaned['CLASE_VEHICULO'] = df_cleaned['CLASE_VEHICULO'].astype('string')
df_cleaned['VALOR'] = df_cleaned['VALOR'].astype('float')

# Mostramos la informacion de nuestro DataFrame df_cleaned
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25031 entries, 0 to 25040
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FECHA              25031 non-null  datetime64[ns]
 1   CODIGO_INFRACCION  25031 non-null  string
 2   INFRACCION         25031 non-null  string
 3   LUGAR              25031 non-null  string
 4   CLASE_VEHICULO     25031 non-null  string
 5   VALOR              25031 non-null  float64
dtypes: datetime64[ns](1), float64(1), string(4)
memory usage: 1.3 MB

In [19]:
# Establecemos el formato y estructura dia/mes/año, para la columna FECHA
df_cleaned['FECHA'] = pd.to_datetime(df_cleaned['FECHA'], format='%d-%m-%Y')

In [20]:
# Mostramos la informacion de nuestro DataFrame df_cleaned
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25031 entries, 0 to 25040
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FECHA              25031 non-null  datetime64[ns]
 1   CODIGO_INFRACCION  25031 non-null  string
 2   INFRACCION         25031 non-null  string
 3   LUGAR              25031 non-null  string
 4   CLASE_VEHICULO     25031 non-null  string
 5   VALOR              25031 non-null  float64
dtypes: datetime64[ns](1), float64(1), string(4)
memory usage: 1.3 MB

In [21]:
# Eliminamos las filas que tienen valores nulos en la columna FECHA
df_cleaned.dropna(subset=["FECHA"], inplace = True)

In [22]:
# Validar si hay registros en la columna FECHA con formatos incorrectos
df_cleaned.FECHA.describe()

count                            25031
mean     2018-05-21 06:23:42.971515648
min                2016-01-01 00:00:00
25%                2016-09-29 00:00:00
50%                2018-07-08 00:00:00
75%                2019-08-25 00:00:00
max                2020-12-14 00:00:00
Name: FECHA, dtype: object

In [28]:
# Mostramos los valores unicos para CLASE_VEHICULO, ordenado alfabeticamente
sorted(df_cleaned.CLASE_VEHICULO.unique())

['AUTOMOVIL',
 'BUS',
 'BUSETA',
 'CAMION',
 'CAMION D.T.',
 'CAMIONETA',
 'CAMPERO',
 'DOBLE TROQU',
 'DOBLE TROQUE',
 'MAQ. AGRICO',
 'MAQ. AGRICOLA',
 'MICROBUS',
 'MOTOCICLETA',
 'OTROS',
 'T/CAMION',
 'VOLQUETA']

In [29]:
# Reemplazar "DOBLE TROQU" por "DOBLE TROQUE" en la columna CLASE_VEHICULO
df_cleaned.CLASE_VEHICULO = df_cleaned.CLASE_VEHICULO.replace("DOBLE TROQU", "DOBLE TROQUE")

# Reemplazar "MAQ. AGRICO" por "MAQ. AGRICOLA" en la columna CLASE_VEHICULO
df_cleaned.CLASE_VEHICULO = df_cleaned.CLASE_VEHICULO.replace("MAQ. AGRICO", "MAQ. AGRICOLA")

In [30]:
# Validamos los cambios realizados para CLASE_VEHICULO, ordenado alfabeticamente
sorted(df_cleaned.CLASE_VEHICULO.unique())

['AUTOMOVIL',
 'BUS',
 'BUSETA',
 'CAMION',
 'CAMION D.T.',
 'CAMIONETA',
 'CAMPERO',
 'DOBLE TROQUE',
 'MAQ. AGRICOLA',
 'MICROBUS',
 'MOTOCICLETA',
 'OTROS',
 'T/CAMION',
 'VOLQUETA']

In [31]:
# Eliminamos los duplicados en nuestro DataFrame df_cleaned
# (subset,keep,inplace)
# 1. columna a validar duplicados "None" para todas la columnas
# 2. "first "tomar el primer valor y elimnar el resto de los duplicados
# 3. "true" aplicar los cambios directamente en df_cleaned)

df_cleaned.drop_duplicates(subset=None, keep='first', inplace=True)

In [32]:
# Retornamos una tupla con las dimensiones de nuestro DataFrame df_cleaned.
# (cantidad de filas incluyendo encabezados, cantidad de columnas)
df.shape

(25042, 7)

In [33]:
# Mostramos la informacion de nuestro DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25042 entries, 0 to 25041
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   COMPARENDO         25042 non-null  object
 1   FECHA              25041 non-null  object
 2   CÓDIGO INFRACCIÓN  25041 non-null  object
 3   INFRACCION         25041 non-null  object
 4   LUGAR              25041 non-null  object
 5   CLASE VEHICULO     25031 non-null  object
 6   VALOR              25041 non-null  float64
dtypes: float64(1), object(6)
memory usage: 1.3+ MB

In [34]:
# Guardamos el DataFrame limpio "df_cleaned" en un archivo CSV
# Se establece la propiedad index=False para no guardar los índices como una columna
df_cleaned.to_csv("ComparendosNorteSantanderSource_clean.csv", index=False)

print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.